body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;    
    height: 25%;
    position: relative;
    z-index: 1;   
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #ffffff;
    box-shadow: 0 1px 5px black;
    margin: 0;
    position: relative; /* 使得子元素可以相对于此定位 */
    z-index: 4;
}

.nav-item {
    cursor: pointer;
    position: relative; /* 为红线和圈提供定位基准 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    position: absolute;
    top: 55px; /* 位于每个nav-item的底部 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-line {
    background-color: #cc3333;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 75px; 
    z-index: 2;
}

.white-line {
    background-color: white;
    height: 2px;
    width: 18vw;
    left: 82vw;
    position: absolute;
    top: 75px; 
    z-index: 3;
    transition: left 1.5s ease;
}

.red-circle, .black-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.red-circle {
    border: 1.5px solid #cc3333;
    background-color: #ffffff;
    top: -5px; /* 使红圈位于红线上方 */
    transition: all 0.5s ease-out;
}

.black-circle {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: transparent;
    top: 10px; /* 使黑圈位于红圈下方 */
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.black-circle:hover {
    border: 1px solid black;
    transition: all 0.5s ease-out;
    box-shadow: 1px 1px 5px black;
}

.black-circle.active {
    box-shadow: 1px 1px 10px black;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.red-circle.active {
    background-color: black; 
}

.nav-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-container {
    flex-grow: 0; /* Do not allow the logo container to grow */
    margin-left: -1.5vw; /* Adjust this value to move the logo container to the left */
    display: flex; /* Use flex to align the logo container items */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the items horizontally */
}

.logo-icon {
    margin-top: 2px;
    width: 5.5vw;
    height: 5.5vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tickets-container {
    margin-right: 5vw; /* Adjust the right margin as needed */
    margin-left: 5vw; /* Adjust the left margin as needed */
    flex-grow: 0; /* Do not allow the tickets container to grow */
    display: inline-flex; /* Use inline-flex to align the button properly */
    align-items: center; /* Center the button vertically */
}

.tickets-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8vw;
    height: 3vh;
    transform: translate(-50%, -50%);
    background-color: #ffbf00; /* The color of the button background */
    color: white; /* The color of the text */
    padding: 10px 30px; /* Adjust the padding to control the size of the button */
    font-weight: bold; /* Bold font */
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    text-decoration: none; /* Remove underline from the link */
    display: inline-block; /* Allows us to set padding and other box model properties */
    
    /* Remove margin if it's causing layout shifts */
}

.tickets-button:hover {
    background-color:  #FFA500;/* Lighter orange color on hover 
    ; /* Larger shadow effect on hover */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.15);
    cursor: pointer; /* Change mouse to pointer on hover */
}

.tickets-button:before,
.tickets-button:after {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background-size: 3px 3px; /* 一个repeat的大小 */
  background-repeat: repeat-y;
  background-image: radial-gradient(#fff 1px, transparent 1px);
  position: absolute;
  top: 0;
  left: 20px;
}

.main-page {
    width: 82vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #e5e5e5;
    z-index: 0;
}
/* w：1272，h：611 */

.home-page {
    width: 80vw;
    height: 75vh;
    position: absolute;
    top: 10%;
    /* bottom: 12.5%; */
    /* left: 12.5%; */
    z-index: 0;
}

.bg-picture {
    width: 74%;
    height: 71%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-page {
    width: 618vw; /* 总宽度足以容纳所有模块 */
    height: 100vh;
    position: fixed;
    right: -600vw; /* 初始时副页面大部分在屏幕右侧外 */
    top: 60px;
    background: #e5e5e5;
    transition: right 1.5s ease;
    display: flex;
    overflow-x: hidden; /* 隐藏水平滚动条 */ 
}

.module-page {
    width: 75vw;
    height: 75vh;
    display: inline-block;
    margin: auto;
    background-color: white;
    border: #cc3333 1px solid;
    /* 其他样式 */
}

.scroll-indicator {
    width: 18vw;
    height: 100vh;
    cursor: pointer;
    background-color: #cc3333;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Add padding to ensure content doesn't touch the edges */
    box-sizing: border-box;
}

.sawtooth-border::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0px;
    width: 20px;
    height: calc(100% - 12px);
    background: linear-gradient(-225deg,  
    transparent 33.33%, #e5e5e5 33.33%, #e5e5e5 66.666%, transparent 66.666%),
    linear-gradient(225deg, 
    transparent 33.33%, #e5e5e5 33.33%, #e5e5e5 66.666%, transparent 66.666%);
    background-size: 90px 45px;
    background-repeat: repeat-y;
    transform: rotate(180deg);
 }
/* #cc3333 33.33%, transparent 33.33%, transparent 66.666%, #cc3333 66.666%);
    transparent 33.33%, #cc3333 33.33%, #cc3333 66.666%, transparent 66.666%);
 #e5e5e5 33.33%, transparent 33.33%, transparent 66.666%, #e5e5e5 66.666%),
 transparent 33.33%, #e5e5e5 33.33%, #e5e5e5 66.666%, transparent 66.666%);
*/
.sawtooth-border:before {
left: -10px;
}  */
    

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; /* Adjust based on your design */
    width: 100%;
    position: relative
}

.long-arrow {
    font-size: 4vw; /* 调整箭头的大小 */
    color: white;
    position: absolute; /* 绝对定位允许你精准控制箭头的位置 */
    top: 15%; /* 50% 会把元素的顶部置于容器中心 */
    left: 50%; /* 50% 会把元素的左边置于容器中心 */
    transform: translate(-50%, -50%) scaleX(3); /* 使用translate调整精准位置并拉伸箭头 */
}

.indicator-text {
    font-size: 4vw; /* Adjust as needed */
    color: white;
    margin-top: 20vh;
    margin-left: 1vw;
    text-align: left;
}

.indicator-icon {
width: 10vw; /* Adjust as needed */
height: 10vw; /* Adjust as needed */
/* background-color: white; */
border-radius: 50%;
display: inline-block;
position: absolute;
bottom: 12%;
}

.indicator-icon img {
width: 100%;
height: 100%;
border-radius: 50%;
}





