
@media (max-width: 1366px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar {
        display: none;
    }

    .scroll-indicator, .indicator-icon, .sawtooth-border, .arrow-container {
        display: none;
    }

    .sub-page {
        width: 100vw;
        height: auto;
        position: relative;
        left: 0;
        flex-direction: column;
        overflow-x: hidden;
        transition:  none;
    }

    .footer-container {
        width: 100vw; 
        height: 75vh;
        position: relative; 
        bottom: 0;
        right: 0;
        margin:20px 0 0;
        padding: 0 0; 
    }

    .footer-content {
        padding: 10px;

    }

    .main-page{
        height:100vh;
        width:100vw;
        overflow:auto;
        box-sizing:border-box;
        position: relative;
    }
        
    .home-page{
        width:100%;
        height:85%;
        position:absolute;
        top:15%;
        z-index:0;
    }
        
    .bg-picture{
        overflow:auto;
        position:absolute;
        top:0;
        left:0;
        transform:none;
    }
    
    .module-page {
        width: 100vw;
        padding: 20px;
        margin: 10px 0;
        overflow: auto;
        box-sizing: border-box;
        height:auto;
        min-height: 75vh;
    }
    #module1 {
        height: auto;
        width: 100vw;
    }
    
    #module2 {
        height: auto;
        width: 100vw;
    }

    .guests-intro h2 {
        font-size: 2em;
        margin: 0 20px;
    }

    .join-us-intro h2 {
        font-size: 2em;
        margin: 0 20px;
    }
    .schedule-picture {
        width: 100%;

    }
    .footer-picture {
        width: 100%;
        height: 100%;
      }

      .ticket-module {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto; 
        white-space: nowrap; 
      }
      
      .ticket-left {
        width:100vw;
        height:auto;
        
      }
      
      .ticket-bg{
        width: 100vw;
        height: calc(600px * (100vw / 400px));
        
      }
      
      .ticket-button {
        all: none;  
      }
    
      .ticket-button-img{
        height: 120px; 
        width: 330px;
      }
      
      .ticket-right {
        width: 100vw;
      }


      .modal {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10;
        width: 100%; /* 模态框宽度为屏幕宽度的90% */
        height: 100%; /* 模态框高度为屏幕高度的90% */
        background-color: rgba(0,0,0,0.5);
        overflow-y: hidden; /* 允许内容超出时滚动 */
        box-sizing: border-box; /* 边框和内边距包含在宽度和高度内 */
      }
    
      .modal-content {
        margin: 15px;
        background-color: #e5e5e5;
        padding: 15px;
        width: calc(100vw - 60px); /* 模态框宽度为屏幕宽度的90% */
        height: 100vh; /* 模态框高度为屏幕高度的90% */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        overflow: hidden; /* 允许Y轴滚动 */
        position: relative; /* 用于定位关闭按钮 */
      }
    
      .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #aaa;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
      }
    
      .modal-form {
        display: flex;
        flex-direction: column;
        gap: 10px; /* 间隔增加 */
      }
    
      .modal-form input, .modal-form textarea {
        margin: 5px 0; /* 减少边距 */
        padding: 8px; /* 调整填充 */
      }
    
      .modal-footer {
        display: flex;
        flex-direction: column; /* 按钮和文本垂直堆叠 */
        gap: 10px; /* 增加间隔 */
      }
    
      .modal-footer button, .modal-footer p {
        text-align: center; /* 文本居中 */
      }
    
      button {
        padding: 10px 20px; /* 调整按钮填充 */
        width: auto; /* 按钮宽度自适应 */
      }

  .modal-footer button {
    padding: 10px 20px; /* 调整按钮填充 */
    width: auto; /* 按钮宽度自适应 */
  }

}