body, html {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
}

.container {
    width: auto;
}

.navbar {
    width: 100%;    
    
    position: relative;
    z-index: 1;   
    transition: all 0.3s ease;
    
}

.nav-items {
    min-width: 895px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
    background: #ffffff;
    box-shadow: 0 1px 5px black;
    margin: 0;
    position: relative; 
    z-index: 4;
}

.nav-item {
    cursor: pointer;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-text{
    font-size: 15px;
    transition: all 0.3s ease-out;
    font-weight: bold;
    height: 20px;
}

.nav-text.active {
    font-size: 20px;
    height: 25px;
}

.ticket-font {
    color: rgb(199, 71, 72);
}

.circle {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-line {
    background-color: rgb(199, 71, 72);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 75px; 
    z-index: 2;
}

.white-line {
    background-color: white;
    height: 2px;
    width: 18vw;
    left: 82vw;
    position: absolute;
    top: 75px; 
    z-index: 3;
    transition: left 1.5s ease, width 0.3s ease;
}

.red-circle, .black-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.red-circle {
    border: 1.5px solid rgb(199, 71, 72);
    background-color: #ffffff;
    top: -5px; 
    transition: all 0.3s ease-out;
}

.red-circle.active {
    background-color: black; 
    border: none;
}

.black-circle {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    top: 10px; 
    cursor: pointer;
    transition: all 0.3s ease-out;
    align-items: center;
    position: relative;
}

.black-circle img{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-out;
}

.black-circle:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.3s ease-out;
    box-shadow: 1px 1px 7.5px black;
}

.black-circle.active {
    box-shadow: 1px 1px 7.5px black;
    top: 15px;
    border: 1px solid rgba(0, 0, 0, 1);
    width: 55px;
    height: 55px;
}

.ticket-nav {
    width: 110px; 
    height: 50px; 
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.ticket-nav img {
    width: 100%; 
    height: auto; 
    transition: all 0.3s ease-out;
    border-radius: 0;
    content: url('assets/images/XCGweb_icon_F_b7.png'); 
}

.ticket-nav:hover {
    width: 115px; 
    height: 55px; 
    border: none;
    box-shadow: none
}

.ticket-nav:hover img {
    content: url('assets/images/XCGweb_icon_F-08.png'); 
}

.ticket-nav.active {
    width: 115px; 
    height: 55px; 
    border: none;
    box-shadow: none
}

.ticket-nav.active img {
    content: url('assets/images/XCGweb_icon_F-08.png'); 
}

.nav-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-container {
    width: 93.42px;
    flex-grow: 0; 
    margin-left: -3vw; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.logo-icon {
    margin-top: 2px;
    width: 93.42px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
}

.nav-text.active .logo-icon {
    width: 103.8px;
    height: auto;
}

#follow-container {
    margin-right: 4vw; /* Adjust the right margin as needed */
    flex-grow: 0; /* Do not allow the tickets container to grow */
    display: inline-flex; /* Use inline-flex to align the button properly */
    align-items: center; /* Center the button vertically  */
}

.scroll-indicator {
    width: 18vw;
    height: 100vh;
    cursor: pointer;
    background-color: rgb(199, 71, 72);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; 
    box-sizing: border-box;
    transition: width 0.3s ease;
}

#indicator-variable {
    transition: opacity 0.3s ease;
    opacity: 1;
}
.sawtooth-border::before {
    content: '';
    position: absolute;
    top: 3%;
    width: 20px;
    height: 96%;
    background: linear-gradient(-225deg,  
    transparent 33.33%, #e5e5e5 33.33%, #e5e5e5 66.666%, transparent 66.666%),
    linear-gradient(225deg, 
    transparent 33.33%, #e5e5e5 33.33%, #e5e5e5 66.666%, transparent 66.666%);
    background-size: 76px 38px;
    background-repeat: repeat-y;
    transform: rotate(180deg);
 }

.sawtooth-border:before {
    left: -10px;
}  */
    
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; 
    width: 100%;
    position: relative;
    
}

.long-arrow {
    font-size: 4vw; 
    color: white;
    position: absolute; 
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%) scaleX(3); 
}

.indicator-text {
    font-size: 4vw; 
    color: white;
    margin-top: 20vh;
    margin-left: 1vw;
    text-align: left;
}

.indicator-icon {
    width: 9vw; 
    height: 9vw; 
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 12%;
    margin: auto;
}

.indicator-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main-page {
    width: 82vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #e5e5e5;
    z-index: 0;
}

.home-page {
    width: 80vw;
    height: 75vh;
    position: absolute;
    top: 10%;
    z-index: 0;
}

.bg-picture {
    width: 62vw;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-page {
    width: auto; 
    left: 82vw;
    height: 100vh;
    position: fixed;
    top: 60px;
    background: #e5e5e5;
    transition: left 1.5s ease;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.module-page {
    min-height: 718.5px;
    height: 75vh;
    display: inline-block;
    margin: auto 0 auto 200px;
    /* border: #cc3333 1px solid; */
}

.map-module {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: auto;
    height: 75vh;
}

.map-picture {
    height: 75vh;
    width: auto;
}

.schedule-module {
    padding: 0;
    width: auto;
    height: 75vh;
}

.schedule-picture {
    width: auto;
    height: 75vh;
}

.guests-module {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: auto;
}

.guest-bg{
    position: absolute;
    width: 45vw;
    height: auto;
    margin-left: 2.5%;
    z-index: 1;
}

.guests-intro{
    display: flex;
    align-items: center;
    z-index: 2;
}

.guests-intro h2 {
    position: relative;
    font-size: 3em;
    font-weight: 550;
    color: #333;
    text-align: end;
    margin: 0 50px;
}

.guests-content {
    display: grid;
    height: 100%;
    width: 100%; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); /* 两行 */
    gap: 3vw; 
    margin: auto;
    z-index: 2;
    justify-content: center; /* Spaces out the items horizontally */
    align-content: center; 
}

/* .guest-grid:nth-child(4) {
    grid-row: 2; 
    grid-column: 1 / span 2;
}

.guest-grid:nth-child(5) {
    grid-row: 2;
    grid-column: 2 / span 2; 
} */

.guest-grid {
    padding: 5px;
    text-align: center; 
    width: auto;
    height: auto;
    margin: auto;
}

.guest-grid a{
    text-decoration: none;
}

.guest-container {
    width: 12vw;
    height: calc(12vw + 30px); 
    /* min-width: 200px;
    min-height: 230px; */
    overflow: hidden; 
    border-radius: 5%;
}

.guest1{
    background:#5D8080; 
}

.guest2{
    background: #C99D67; 
}

.guest3{
    background: #BC807F; 
}

.guest4{
    background: #BD6E3F; 
}
  
.guest-container img {

    width: calc(12vw - 20px);
    height: calc(12vw - 20px); 
    /* min-width: 180px;
    min-height: 180px; */
    object-fit: cover; 
    margin: 10px;
    z-index: 2;
}

.guest-container h3 {
    font-size: 1.2em; 
    padding-top: 0;
    margin-top: 0;
    color: black;
    text-decoration: none;
}

.join-us-module {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: auto;
    
}

.join-us-intro {
    display: flex;
    align-items: center;
}

.join-us-intro h2 {
    position: relative;
    font-size: 3em;
    font-weight: 550;
    color: #333;
    text-align: end;
    margin: 0 50px;
}

.join-us-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.option {
    width: 370px; 
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    position: relative;
}

.option h3 {
    text-align: center;
    font-size: 2.5em;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    font-weight: normal;
}

.option img {
    width: 270px; 
    height: 200px;     
    border-radius: 5%;
    z-index: 2;
    position: absolute;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #e5e5e5;;
    margin: auto; 
    padding: 20px;
    width: 40%; 
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.3s;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.close-button {
    float: right;
    color: #aaa;
    font-size: 35px;
    font-weight: bold;
    width: 35px; 
    height: 35px;
    line-height: 30px; 
    text-align: center; 
    justify-content: center;
    border-radius: 50%; 
    background: #fff; 
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.close-button:hover,
.close-button:focus {
    color: black;
    background: #e5e5e5; 
    text-decoration: none;
}

.modal-section h2 {
    font-family: "等线", sans-serif;
    color: #333;
    font-size: 4em; 
    margin: 20px;
}


.modal-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.6;
}


.modal-form h3,
.modal-form p {
    font-family: "Helvetica", Arial, sans-serif; 
}
  
.form-top {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 0 20px; 
  }

.form-top h3 {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px; 
    white-space: nowrap
}

.form-top .modal-description {
    color: #333;
    font-size: 1em; 
    margin-left: 20px; 
    flex-grow: 1; 
    text-align: left; 
  }

.modal-bottom {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.modal-bottom a,
.modal-bottom p1 {
    display: inline-block;
    background-color: #ffbf00;
    color: #000;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: auto; /* Make the button full width */
    text-align: center;
}

.modal-bottom a:hover {
    background-color: #e5a00f;
    opacity: 1;
}

.modal-bottom p {
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
    text-align: center;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}

.ticket-module {
    display: flex;
    width: auto;
    overflow: hidden;
  }
  
  .ticket-left {
    position: relative;
  }
  
  .ticket-bg{
    width: auto;
    height: 100%;
  }
  
  .ticket-button {
    position: absolute;
    bottom: 12%; 
    left: 50%;
    transform: translateX(-50%); 
    background: transparent; 
    color: #333;
    padding: 0;
    font-weight: bold;
    font-size: 1.5em; 
    cursor: pointer;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

  .ticket-button-img{
    height: 165px; 
    width: auto;
  }
  
  .ticket-right {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distributes space evenly */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 可选的阴影 */
    color: white; /* 文字颜色 */
    position: relative;
    border-left: 15px solid rgb(199, 71, 72); 
    background-color: #2a2f33; 
    box-sizing: border-box; 
}


.event-details h1,
.event-details p,
.ticket-type h3,
.ticket-type p {
    margin: 25px 0;
}

.event-details p {
    font-weight: bold;
}

.ticket-type {
    background-color: #333b40; /* 修改为所需的颜色 */
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.ticket-type h3 {
    color: #ffc107; /* 标题颜色 */
    margin-bottom: 5px;
}

.ticket-type p {
    margin: 5px 0;
}

.ticket-type .description {
    font-style: italic; /* 可选的样式，突出介绍文本 */
}

    .sponsor-container {
        margin-left: 200px;
        width: auto; /* 或根据你的布局调整宽度 */
        height: 100%; /* 使模块高度充满剩余空间 */
        background-color: #fff; /* 或任何你想要的背景颜色 */
    }

    .sponsor-icons {
        width: 100%;
        display: flex;
        flex-direction: column; /* 使图标垂直排列 */
        justify-content: center; /* 水平居中每个图标 */
        margin: 10vh 10px;
    }

    .sponsor-icons img {
        margin: 2vh 0;
        height: auto;
        width: 100px;
    }

    .footer-container {
        height: 100vh;
        width: calc(100vh / 1.72 );
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Distributes space evenly */
        position: relative;
        background-image: url('assets/images/footer-bg.jpg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        color: white; /* Assuming a light color for text */
        
    }
    
    .footer-logo {
        width: 150px;
        height: auto;
        margin: 15% 5% 0; /* Add space below the logo */
    }
    
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the social media icons */
        margin-top: auto; /* Add space above and below the social media links */
        font-size: 1.5em;
        
    }
    
    .social-media p{
        display: flex;
        flex-direction: row;
        align-items: center; /* Center the social media icons */
        margin: 5% 0;
        text-wrap: wrap;
    }

    .social-item{
        margin: 0 5%;
        width: 50px;
    }
    
    .social-item img {
        width: 50px;
        height: auto;
    }

    #wechatQR{
        width: 200px; 
        height: auto;
        text-align:center;   
    }

    .contact-info {
        margin: 0 5% 10%;
        font-size: 1.2em;
        text-wrap: nowrap;
    }
    
    .small-email {
        height: auto;
        width: 30px;
    }

    .email-style, #copyConfirmation {
    font-size: inherit; /* This will make it match the size of the surrounding text */
    color: inherit; /* This will make it match the color of the surrounding text */
    cursor: pointer; /* Changes the cursor to indicate the element is clickable */
}

/* Styles for the copied confirmation tooltip */
    #copyConfirmation {
        /* Same style properties as the surrounding text */
        display: none;
        margin-left: 10px;
        position: relative; /* Adjust this as needed */
    }



.mobile-nav-toggle, .mobile-navbar {
    display: none;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* 半透明背景 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保它位于页面内容的上方 */
}

.loading-message {
    color: white;
    font-size: 1.5em;
    /* 这里可以添加动画效果，例如旋转的图标等 */
}


@media (max-width: 1366px) {

    .mobile-nav-toggle {
      display: flex; /* 使用flex布局 */
      justify-content: space-between; /* 分散对齐子元素 */
      align-items: center; /* 垂直居中子元素 */
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      background: linear-gradient(to right, red, orange); /* 渐变背景 */
      padding: 15px 0;
      width: 100vw;
      height: 5vh;
    }
  
    .mobile-nav-toggle .menu-icon {
        /* 设置图标的样式 */
        width: 5vw; /* 或根据实际情况调整 */
        height: auto;
        font-size: 2rem;
        color: white;
        margin-left: 10px;
        
    }
  
    .mobile-nav-toggle .center-icon {
        /* 设置中间图标的样式 */
        width: 13vw; /* 或根据实际情况调整 */
        height: auto;
        margin: 0 auto;
    }
  
    .mobile-ticket {
      height: 100%;
      width: 20%;
      right: 0;
      position: absolute;
    }
    
    .mobile-nav-toggle .tickets-icon {
        /* 设置右边图片的样式 */
        width: auto;
        height: 4vh;
        cursor: pointer;
        /* margin-right: 5px; */
        top: 25%;
        right: 5px;
        position: absolute;
    }
  
    .mobile-nav-toggle .tickets-icon-placeholder {
      width: 5vw; /* 占位元素宽度与左侧菜单图标相同 */
      height: auto;
      font-size: 2rem;
      visibility: hidden;
    }
    
      .mobile-navbar {
        display: none;
        position: fixed;
        top: 5vh;
        width: 100%;
        background-color: gray;
        z-index: 8;
        overflow-y: auto;
        margin-top: 20px;
      }
    
      .mobile-navbar.active {
        display: block;
        height: 100vh;
      }
      
      .mobile-nav-items{
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中对齐项目 */
      }
    
      .mobile-nav-items a {
        width: auto;
        display: block;
        padding: 20px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
      }
    
      .mobile-nav-items a:hover {
        background-color: #34b7a7;
      }
      
      .navbar, .scroll-indicator, .indicator-icon, .sawtooth-border, .arrow-container {
          display: none;
      }
  
      .sub-page {
          width: 100vw;
          height: auto;
          position: relative;
          left: 0;
          flex-direction: column;
          overflow-x: hidden;
          transition:  none;
      }
  
      .main-page{
          height:100vh;
          width:100vw;
          overflow:auto;
          box-sizing:border-box;
          position: relative;
      }
          
      .home-page{
          width:100%;
          height:85%;
          position:absolute;
          top:15%;
          z-index:0;
      }
          
      .bg-picture{
          height: 80vh;
          width: auto;
          overflow:auto;
          position:absolute;
          top:0;
          left:0;
          transform:none;
      }
      
      .module-page {
          height: auto;
          width: 100vw;
          padding: 20px;
          margin: 30px 0;
          overflow: auto;
          box-sizing: border-box;
          
          min-height: 0;
      }
      #module1 {
          height: auto;
          width: 100vw;
      }
      
      .schedule-module {
          height: auto;
          width: 100vw;
          padding: 0;
      }
    
      .schedule-picture {
        width: 100vw;
        height: calc(1.47 * 100vw);
      }
  
  
      .guests-module {
        flex-direction: row; /* 改为横向布局 */
        justify-content: space-around; /* 分散对齐以填满空间 */
        flex-wrap: wrap; /* 允许内容换行 */
        padding: 0; /* 根据需要调整 */
        width: 100vw;
        height: auto;
      }
      .guests-intro h2 {
        font-size: 2em;
        margin: 0 20px;
      }
  
      .guest-bg{
        left: 0;
        height: 100vw;
        width: 100vw;
      }
  
      .guests-intro h2 {
        font-size: 2em;
        margin: 0 20px;
      }
  
      .guest-grid {
        padding: 20px 0;
        text-align: center; 
        width: auto;
        height: auto;
        margin: auto;
      
      }
  
      .guests-content {
        gap: 0; 
        margin: 8vh auto;
      }
  
      .guest-container {
      width: calc(33vw - 10px);
      height: calc(33vw + 5px); 
      }
    
      .guest-container img {
        width: calc(33vw - 25px);
        height: calc(33vw - 25px);
        margin: 5px 5px 0;
      }
  
      .guest-container h3 {
        font-size: 0.7em; 
      }
  
      .join-us-module {
        flex-direction: row; /* 改为横向布局 */
        justify-content: space-around; /* 分散对齐以填满空间 */
        flex-wrap: wrap; /* 允许内容换行 */
        padding: 10px 0; /* 根据需要调整 */
        width: 100vw;
        height: auto;
      }
  
      .join-us-intro h2 {
        font-size: 2em;
      }
      
      .join-us-content {
        flex-direction: row; /* 确保子项横向排列 */
        justify-content: space-around; /* 分散对齐以填满空间 */
        gap: 3vw;
        flex-wrap: nowrap; /* 允许内容在必要时换行 */
        width: auto;
        margin: 0;
      }
    
      .join-us-content .option {
        width: 30vw; /* 每个选项占据大约三分之一的宽度 */
        margin: 5px 0 /* 添加一些垂直间距 */
        /* 根据需要调整内边距或其他样式 */
      }
    
      /* 可选：调整图片和文字的大小来更好地适应小屏幕 */
      .join-us-content .option img {
        max-width: 100%; /* 确保图片不会超过其容器的宽度 */
        height: auto; /* 保持图片的纵横比 */
      }
    
      .join-us-content .option h3 {
        font-size: smaller; /* 减小标题的字号 */
      }
  
      .ticket-module {
        padding: 0;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto; 
        height: auto;
        white-space: nowrap; 
        box-sizing: border-box;
        min-height: 0;
      }
      
      .ticket-left {
        width:100vw;
        height:auto;
        
      }
      
      .ticket-bg{
        width: 100vw;
        height: calc(1.5 * 100vw);;
        box-sizing: border-box;
      }
      
      .ticket-button {
        all: none;  
      }
    
      .ticket-button-img{
        height: 120px; 
        width: 330px;
      }
      
      .ticket-right {
        width: auto;
        height: calc(1.5 * 100vw);
        padding: 10px 20px ;
        
      }
        
  
    .event-details p,
    .ticket-type h3,
    .ticket-type p {
        margin: 10px 0;
        font-size: small;
    }
    
    .event-details h1{
      margin: 10px 0;
    }
  
    .event-details p {
      text-wrap: wrap;
    }
    
    .ticket-type {
        background-color: #333b40; /* 修改为所需的颜色 */
        padding: 10px;
        margin-top: 10px;
    }
    
  
      .modal {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10;
        width: 100vw; /* 模态框宽度为屏幕宽度的90% */
        height: 100vh; /* 模态框高度为屏幕高度的90% */
        background-color: rgba(0,0,0,0.5);
        overflow-y: hidden; /* 允许内容超出时滚动 */
        box-sizing: border-box; /* 边框和内边距包含在宽度和高度内 */
      }
    
      .modal-content {
        margin: 15px;
        background-color: #e5e5e5;
        padding: 15px;
        width: calc(100vw - 60px); /* 模态框宽度为屏幕宽度的90% */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        overflow: hidden; /* 允许Y轴滚动 */
        position: relative; /* 用于定位关闭按钮 */
      }
    
      .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
  
      }
      .modal-section h2 {
        font-size: 3em; 
        margin: 20px;
      }
      .modal-form {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }
      .form-top h3 {
        display: none;
      } 
    
      .modal-bottom {
        position: relative;
        display: flex;
        flex-direction: column; /* 按钮和文本垂直堆叠 */
        left: 50%; /* 左偏移量设置为50% */
        transform: translateX(-50%); /* 使用transform来确保其水平居中 */
        margin-top: 10vh;
        }
    
      .modal-bottom a, .modal-bottom p1,.modal-bottom p {
        text-align: center; /* 文本居中 */
        margin-bottom: 5px;
      }
    
      .modal-bottom a, .modal-bottom p1 {
        padding: 10px 20px; /* 调整按钮填充 */
        width: auto; /* 按钮宽度自适应 */
      }
  
      .sponsor-container {
        margin: 30px 0 0 0;
        width: 100%; /* 或根据你的布局调整宽度 */
        height: auto; /* 使模块高度充满剩余空间 */
      }
  
      .sponsor-icons {
        width: 100%;
        display: flex;
        flex-direction: row; /* 使图标垂直排列 */
        justify-content: start; /* 水平居中每个图标 */
        margin: 10px 10vw;
      }
  
      .sponsor-icons img {
        margin: 0 2vw;
        height: 50px;
        width: auto;
      }
  
      .footer-container {
        height: calc(100vw * 1.72);
        width: auto;
      }
  
      .footer-logo {
        width: 100px;
        height: auto;
        margin: 15% 5% 0; /* Add space below the logo */
      }
      
      .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the social media icons */
        margin: 20px 0; /* Add space above and below the social media links */
        
      }
          
      .social-media a {
        margin: 0 5%;
        width: 35px;
      }
      
      .social-media img {
        width: 35px;
        height: auto;
      }
  
      #wechatQR{
        width: 125px
    }
      .contact-info {
        margin: 0 5% 10%;
        font-size: 0.7em;
      }
  
      .small-email {
        height: auto;
        width: 20px;
    }
  }